@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --font-poppins: "Poppins", sans-serif;
    --font-roboto-slab: "Roboto Slab", serif;
    --font-source-sans-3: "Source Sans 3", sans-serif;
  }

  html,
  body {
    font-family: var(--font-poppins);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-roboto-slab {
    font-family: var(--font-roboto-slab);
  }

  .font-source-sans {
    font-family: var(--font-source-sans-3);
  }
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 2;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
